.Stage_Container {
    display: flex;
    position: relative;
    margin-top: 30px;
}

/* RightParagraph.module.css */

.right_paragraph {
    position: absolute;
    width: 1021px;
    height: fit-content;
    top: 157px;
    left: 642px;
    overflow: hidden;
  }
  
  .yellow {
    position: absolute;
    width: 912.88px;
    height: 663.45px;
    clip-path: polygon(20% 0, 95% 0, 75% 100%, 0 100%);
    background-color: #FCDB5C;
    left: 65px;
    top: 130px;
    z-index: 20;
    overflow-y: hidden;
  }
  
  .white {
    position: absolute;
    width: 912.88px;
    height: 663.45px;
    clip-path: polygon(20% 0, 95% 0, 75% 100%, 0 100%);
    background-color: #ffffff;
    left: 95px;
    top: 130px;
    z-index: 20;
    overflow-y: hidden;
  }
  
  .black {
    position: absolute;
    width: 912.88px;
    height: 663.45px;
    clip-path: polygon(20% 0, 95% 0, 75% 100%, 0 100%);
    background-color: #2C2C32;
    left: 100px;
    top: 130px;
    z-index: 20;
    overflow-y: hidden;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
  }
  
  .architect {
    margin-top: 30px;
    margin-left: 100px;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 99%);
    z-index: 10;
    overflow-y: hidden;
  }
  
  .message {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center; /* Center the text horizontally */
    width: 400px;
    color: white;
  }
  