.Facts {
    position: relative;
    width: 1900px;
    height: 832px;
    margin-top: 20px;
}

.companyTitle {
    position: absolute;
    width: 920px;
    height: 48px;
    top: 14px;
    left: 390px;
    gap: 0px;
    opacity: 0px;
    font-family: Raleway;
    font-size: 41px;
    font-weight: 700;
    line-height: 48.13px;
    text-align: left;
    color: #383736;
}

.heightxt {
    position: absolute;
    text-transform: uppercase;
    width: 1007px;
    height: 19px;
    top: 67px;
    left: 390px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
}


.rectangles {
    position: relative;
    width: 1120px;
    height: fit-content;
    top: 136px;
    left: 390px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 57.5px;
}

#rec1 {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
}

#rec2,
#rec3 {
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
}

.rectangle {
    width: 350px;
    height: 238px;
    top: 136px;
    left: 390px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
    background-color: #F7F6F2;
}


.p1 {
    font-family: Raleway;
    font-size: 67px;
    font-weight: 700;
    line-height: 78.66px;
    text-align: center;
    color: #FCDB5C;
    margin-top: 30px;
}

.p2 {
    font-family: Raleway;
    font-size: 31px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    color: #383736;
}

#rec1,
#rec2,
#rec3 {
    transition: transform 0.3s ease-in-out;
}

#rec1:hover,
#rec2:hover,
#rec3:hover {
    transform: translateY(-5px);
}



