.dropdown {
    position: absolute;
    width: 1120px;
    height: auto;
    top: 1375px;
    left: 390px;
    gap: 10px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    gap: 30px, 0px;
}

.dropdown_assets {
    display: flex;
    gap: 0px 40px;
    border-radius: 10px;
    align-items: center;
    width: 1120px;
    height: 70px;
    padding-left: 20px;
    background-color: #F7F6F2;
    overflow-y: hidden;

}

.dropdown_assets img {
    width: 24px;
    height: 24px;
}

.dropdown_assets p {
    font-family: Raleway;
    font-size: 27px;
    font-weight: 500;
    line-height: 31.7px;
    text-align: left;
    color: #383736;
}


.hide{
    font-family: Raleway;
    font-weight: 500;
    line-height: 31px;
    border: 1px solid;
    border-bottom-left-radius: 10px;
    border-radius: 10px;
    padding-left: 50px;
    background-color: #F7F6F2;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 999px;
}