menu {
    top: 110px;
    left: 380px;
    position: absolute;
    width: 1140px;
    height: 70px;
    background-color: #2C2C32;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    z-index: 100;
}

.button {
    position: relative;
    color: #fff;
    border: none;
    background:none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: center;
}

.button:hover{
    color: #FCDB5C;
    text-decoration: underline;
}